{% extends 'account/base.html' %}
{% block body %}
<div class="col-md-12">
    <center>
        {% include 'message.html' %}
        <hr>
        {% if user.is_staff %}
            <h3><span style="background-color:#f48024;">L</span><span style="background-color:#f8f2fa;">ibrarian</span> <span style="background-color:#f48024;">P</span><span style="background-color:#f8f2fa;">rofile</span></h3>
        {% else %}
            <h3><span style="background-color:#f48024;">S</span><span style="background-color:#f8f2fa;">tudent</span> <span style="background-color:#f48024;">P</span><span style="background-color:#f8f2fa;">rofile</span></h3>
        {% endif %}
        <hr>    
        <table class="table table-hover" style="width:70%;">
            <tr>
                <td>First Name</td>
                <td>{{ object.first_name|title }}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{ object.last_name|title }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ object.email }}</td>
            </tr>
            <tr>
                <td>Contact</td>
                <td style="font-weight:bold;">{{ object.contact}}</td>
            </tr>
            <tr>
                <td>Edit</td>
                <td><a class="btn btn-info" href="{% url 'account:updateprofile' %}"><i class="fas fa-edit"></i> Edit Profile</a></td>
            </tr>
        </table>
    </center>
</div>



{% endblock body %}

