{% extends 'account/base.html' %}
{% block body %}
<div class="col-md-12">
    <center>
        {% include 'message.html' %}
                    <hr>
                    <h1>Update Profile</h1>
                    <hr>
                    {% include 'message.html' %}
                    <p id="error"></p>
                    <table>
                        <form method="POST" id="profile-update">
                            {% csrf_token %}

                            {% for field in form %}
                            <tr>
                                <td>
                                    {{ field.label}}
                                </td>
                                <td style="padding: 10px;">
                                    {{ field }}
                                </td>
                                <td>
                                    {{ field.errors }}
                                </td>
                            </tr>
                            {% endfor%}
                            <tr>
                                <td>
                                    <center><button type="reset" class="btn btn-info">Reset</button></center>
                                </td>
                                <td colspan="2">
                                    <center><button type="submit" id="id_submit" class="btn btn-primary">Update</button></center>
                                </td>
                            </tr>
                        </form>
                    </table>
            </div>
            </center>
        </div>
{% endblock body %}