{% extends 'account/base.html' %}
{% block body %}
<div class="col-md-12">
    <center>

        {% if object_list %}
        <hr>
        <div>
            <strong>
                {% if title == 'Issue Book'%}
                    <h3><span style="background-color:#f48024;">&nbsp;I</span><span style="background-color:#f8f2fa;">ssued</span> <span style="background-color:#f48024;">B</span><span style="background-color:#f8f2fa;">ooks</span></h3>
                {% else %}
                    <h3><span style="background-color:#f48024;">&nbsp;R</span><span style="background-color:#f8f2fa;">eturn</span> <span style="background-color:#f48024;">B</span><span style="background-color:#f8f2fa;">ooks</span></h3>
                {% endif %}
            </strong>
        </div>
        <hr>
        <table class="table table-hover text-center" style="width:70%;">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Request Date</th>
                    <th>Issue Date</th>
                    <th>Return Date</th>
                    <th>Status</th>
                </tr>
            </thead>

            <body>
                {% for i in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.book.title }}</td>
                    <td>{{ i.book.author }}</td>
                    <td>{{ i.request_date }}</td>
                    <td>{% if i.issue_date %}{{ i.issue_date }} {% else %} -- {% endif %}</td>
                    <td>{% if i.return_date %}{{ i.return_date }} {% else %} -- {% endif %}</td>
                    <td>
                        {% if i.status == 0 %}
                            <span class="badge badge-info">Pending</span>
                        {% elif i.status == 1 %}
                            <span class="badge badge-danger">Not Return Yet</span>
                        {% else %}
                            <span class="badge badge-success">Return</span> 
                        {% endif %}</td>
                </tr>
                {% endfor %}
            </body>
        </table>
        {% else %}
        <div class="col-sm-12">
            <br>
            <div class="alert alert-warning text-center" style="width:80%;margin: 0 auto;">
                <a href="#" class="alert-link">You have not any {{title}}...!</a>
            </div> 
        {% endif %}
    </center>
</div>
{% endblock body %}