{% extends 'account/base.html' %}
{% block body %}
<div class="col-md-12">
    <center>

        {% if object_list %}
        <hr>
        <div>
            <strong>
                <h3><span style="background-color:var(--card-bg-color);padding:4px;">{{ title }}</span></h3>
            </strong>
        </div>
        <hr>
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>No.</th>
                    {% if user.is_staff %}
                    <th><b>Issue By</b></th>
                    <th><b>Contact</b></th>
                    {% endif %}
                    <th>Title</th>
                    <th>Author</th>
                    <th>Request Date</th>
                    <th>Status</th>
                </tr>
            </thead>

            <body>
                {% for i in page_obj %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    {% if user.is_staff %}
                    <td><b>{{ i.issue_by }}</b></td>
                    <td><b>{{ i.issue_by.contact }}</b></td>
                    {% endif %}
                    <td>{{ i.book.title }}</td>
                    <td>{{ i.book.author }}</td>
                    <td>{{ i.request_date }}</td>
                    <td><span class="badge badge-warning">Rejected</span></td>
                </tr>
                {% endfor %}
            </body>
        </table>
        {% include 'pagination.html' %}
        {% else %}
        <div class="col-sm-12">
            <br>
            <div class="alert alert-warning text-center" style="width:80%;margin: 0 auto;">
                <a href="#" class="alert-link">You have not any {{title}}...!</a>
            </div> 
        {% endif %}
    </center>

</div>
    <script>
        $('.delete').click(function (event) {
            let result = confirm('Are you sure,You want to Delete This Record')
            if (!result) {
                event.preventDefault();
            }
        });
    </script>
{% endblock body %}